[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "SoapySDR"]
	path = SoapySDR
	url = https://github.com/pothosware/SoapySDR.git
[submodule "rtl-sdr"]
	path = rtl-sdr
	url = https://github.com/bastibl/rtl-sdr.git
[submodule "SoapyRTLSDR"]
	path = SoapyRTLSDR
	url = https://github.com/bastibl/SoapyRTLSDR.git
[submodule "hackrf"]
	path = hackrf
	url = https://github.com/bastibl/hackrf.git
[submodule "SoapyHackRF"]
	path = SoapyHackRF
	url = https://github.com/bastibl/SoapyHackRF.git
[submodule "rfone_host"]
	path = rfone_host
	url = https://github.com/hydrasdr/rfone_host.git
[submodule "SoapyHydraSDR"]
	path = SoapyHydraSDR
	url = https://github.com/bastibl/SoapyHydraSDR.git
